<main class="h-14 bg-gradient-to-r from-orange-200 to-orange-200 min-h-screen overflow-auto">

  <header class="">
    <ul class="" >
      <a href="">
        Home
      </a>
      <a href="">
        Login
      </a>
      <a href="">
        Register
      </a>
    </ul>
  </header>
<section class="pt-52 pl-11">
<div>
<h1 class="text-zinc-400">
  meusingressos.com
</h1>
<p class="text-zinc-400">
  O melhor site de ingressos para eventos.
</p>
<button class="bg-indigo-500 shadow-lg shadow-indigo-500/50 rounded-full">
  <a href="">
    Saiba mais
  </a>
</button>

</div>
<div class="pl-96 pb-96">
<!-- <img src="assets/bgimg.gif" alt=""> -->
</div>

</section>

</main>
